<h3>Atmospheric Science Faculty by Alma Mater</h3>

<ul>
  <li><b>Background</b>: <a href="https://www.nature.com/articles/s41586-022-05222-x">https://www.nature.com/articles/s41586-022-05222-x</a></li>
  <li><b>Data</b>: <a href="https://github.com/LarremoreLab/us-faculty-hiring-networks">https://github.com/LarremoreLab/us-faculty-hiring-networks</a></li>
</ul>

Information regarding how the data were collected, the period over which they are valid, etc. is provided in the <i>Nature</i> manuscript linked above. Information on how to read the data is provided in the GitHub repository linked above.
<hr>
We wish to read in the edge-lists.csv file. When subset for the Field (TaxonomyLevel) of Atmospheric Sciences and Meteorology (TaxonomyValue), these data indicate the counts of faculty at each surveyed institution from a given alma mater; e.g., a Total of 2 for MIT from UWM would indicate that two faculty at UWM received their PhD from MIT.

<b>Note</b>: I did a spot check on a DegreeInstitutionName of 'University of Arizona,' which returned Purdue as having seven Arizona alumni and Arizona having six of their own alumni on the faculty. These counts, particularly for Arizona, only make sense if the broadest-possible definition of faculty is considered - meaning tenure-track and tenured faculty, research faculty, and instructional faculty. I also did a spot check on 'Florida State,' which returned Florida State as having eight of their own alumni on the faculty (which their website does not seem to support). The <i>Nature</i> paper indicates that only tenured and tenure-track faculty are included in their data, but I couldn't immediately reconcile the data under that definition.

In [3]:
import pandas as pd

# read the CSV file into a pandas DataFrame straight from GitHub
df = pd.read_csv('https://raw.githubusercontent.com/LarremoreLab/us-faculty-hiring-networks/main/data/edge-lists.csv')

# subset by the Field of Atmospheric Sciences and Meteorology
df = df[(df['TaxonomyLevel'] == 'Field')  &  (df['TaxonomyValue'] == 'Atmospheric Sciences and Meteorology')]

# get list of institutions represented in the data
insts = df['InstitutionName'].unique()
print(insts[0:])

# get list of all alma maters with at least one alum as a faculty member
almas = df['DegreeInstitutionName'].unique()

# create blank list to store alma maters and faculty counts (total, men, women)
data = []

# loop over each alma mater, create subset of only that alma mater, 
# and find sums of faculty from that alma mater across institutions
for alma in almas:
    dfsub = df[(df['DegreeInstitutionName'] == alma)]
    data.append([alma, dfsub['Total'].sum(), dfsub['Men'].sum(), dfsub['Women'].sum()])

# convert list to pandas DataFrame and sort
datadf = pd.DataFrame(data, columns=['university','count','men','women'])
datadf = datadf.sort_values('count', ascending=False)
print(datadf)

# some stats
print(datadf.sum())
print(datadf[50:100])

['Georgia Tech' 'UC Berkeley' 'University of Rhode Island' 'Cornell'
 'University of Maryland College Park' 'Penn State' 'UCLA'
 'University of Illinois Urbana-Champaign' 'SUNY Stony Brook' 'Purdue'
 'University of Michigan' 'University of Wisconsin-Madison'
 'University of Arizona' 'University at Albany (SUNY)'
 'University of Minnesota Twin Cities' 'CU Boulder' 'Oregon State' 'MIT'
 'Caltech' 'Iowa State' 'Old Dominion' 'University of Houston' 'Texas A&M'
 'University of Nebraska-Lincoln' 'Utah State' 'George Mason'
 'North Carolina State' 'University of Nevada, Las Vegas' 'Colorado State'
 'Florida State' 'Harvard' 'UW' 'University of Utah'
 'University of Oklahoma' 'Northwestern' 'UMass Lowell'
 'University of Pittsburgh' 'University of Wyoming'
 'University of North Dakota' 'University of Missouri'
 'University of Miami' 'University of Alabama in Huntsville'
 'Saint Louis University' 'University of Hawaii' 'University of Vermont'
 'South Dakota Mines' 'Northern Illinois' 'University of Louisiana Monroe'
 'University of Alaska Fairbanks' 'Naval Postgraduate School']
                                        university  count   men  women
0                                              MIT   99.0  73.0   17.0
5                                               UW   79.0  56.0   19.0
2                                          Caltech   48.0  29.0   12.0
11                                         Harvard   46.0  35.0    8.0
39                                      Penn State   42.0  33.0    2.0
..                                             ...    ...   ...    ...
150                      Ocean University of China    1.0   0.0    0.0
149                         Trinity College Dublin    1.0   1.0    0.0
148  Slovak University of Technology in Bratislava    1.0   0.0    1.0
260        Arctic and Antarctic Research Institute    1.0   1.0    0.0
71                                             NaN    0.0   0.0    0.0

[261 rows x 4 columns]
count    1525.0
men      1031.0
women     296.0
dtype: float64
                                 university  count  men  women
170          University of British Columbia    7.0  4.0    3.0
105                           Virginia Tech    6.0  5.0    1.0
16                             UC Riverside    6.0  4.0    2.0
120                  University of Delaware    6.0  2.0    2.0
60                        Boston University    6.0  2.0    2.0
114                              ETH Zurich    6.0  3.0    3.0
127                 Imperial College London    6.0  5.0    1.0
53                               Iowa State    6.0  5.0    0.0
212                  Saint Louis University    6.0  5.0    1.0
49                        Mcgill University    6.0  2.0    4.0
48           University of Alaska Fairbanks    6.0  3.0    1.0
95                  Rutgers - New Brunswick    5.0  3.0    0.0
70                       University of Bern    5.0  5.0    0.0
78                     University of Kansas    5.0  2.0    2.0
121     University of Alabama in Huntsville    5.0  3.0    0.0
119            University of South Carolina    5.0  2.0    1.0
134                 University of Tennessee    5.0  4.0    0.0
83                 Colorado School of Mines    5.0  2.0    3.0
136                    Dalhousie University    5.0  4.0    0.0
45                        Monash University    5.0  2.0    1.0
159                        Washington State    5.0  1.0    2.0
92                   University of Victoria    5.0  2.0    2.0
123                   Ohio State University    4.0  3.0    0.0
137                University of New Mexico    4.0  4.0    0.0
118                          Michigan State    4.0  2.0    1.0
106                        UC Santa Barbara    4.0  4.0    0.0
155              University of Nevada, Reno    4.0  3.0    1.0
100  Ludwig-Maximilians-Universität München    4.0  3.0    1.0
158               Naval Postgraduate School    4.0  3.0    0.0
176                  University of Virginia    4.0  2.0    0.0
180                   University of Reading    4.0  3.0    0.0
94         Institute of Atmospheric Physics    4.0  4.0    0.0
6                              Northwestern    4.0  4.0    0.0
57                          New Mexico Tech    4.0  3.0    0.0
55           Indiana University Bloomington    4.0  2.0    1.0
63                            UMass Amherst    4.0  2.0    2.0
62                                UC Irvine    4.0  2.0    1.0
69                          Carnegie Mellon    4.0  4.0    0.0
80               University of North Dakota    4.0  4.0    0.0
76                       University of Iowa    4.0  3.0    0.0
139               Seoul National University    3.0  1.0    2.0
160                                    Rice    3.0  2.0    1.0
162                      University of Kiel    3.0  3.0    0.0
146                          William & Mary    3.0  2.0    0.0
33                University of East Anglia    3.0  2.0    1.0
50                       Nanjing University    3.0  0.0    0.0
99                       Utrecht University    3.0  3.0    0.0
141                           Montana State    3.0  1.0    1.0
235     Memorial University of Newfoundland    3.0  1.0    1.0
187                       Peking University    3.0  0.0    0.0

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.